# COLECCIONES DE DATOS

Python integra un montón de colecciones para manejar datos.

1. Listas (list)
2. Tuplas 
3. Diccionarios (dic)
4. Conjuntos (set)

## 1. Listas

Las listas son colecciones ordenadas y mutables(sus valores pueden ser alterados) de elementos, permitiendo almacenar múltiples valores en una sola variable.

Los elementos de una lista se organizarán por indices comenzando con 0 hasta el n-1 elemtos que contenga mi lista

<center><img src='https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/listas-python-t2.jpg' width="400" height="300"></center>

- Creación de Lista

In [ ]:
# Puedes crear listas utilizando corchetes [] y separando los elementos por comas.
lista_vacia = []
lista_vacia = list()


listado_numeros = [1, 2, 3, 4, 5]
lista_elementos = [1, "dos", 3.0, True]

In [4]:
# validando tipo de dato de variable
type(listado_numeros)

list

- Acceso a los elementos de una lista

In [5]:
# Recuerda que en Python los índices empiezan en 0.
print(lista_elementos[0])  # 1

# -1 es el índice del último elemento, -2 el penúltimo, y así sucesivamente.
print(lista_elementos[-1])  # True

1
True

In [6]:
len(lista_elementos)  # 4

# Ultimo elemento de mi lista
lista_elementos[len(lista_elementos) - 1]  # True

True

- Modificación de elementos de una lista

In [8]:
lista_elementos

[1, 'dos', 3.0, True]

In [9]:
# lista[indice]= nuevo_valor
lista_elementos[0] = 10
print(lista_elementos)  # [10, 'dos', 3.0, True]

[10, 'dos', 3.0, True]

- Longitud de una lista

In [10]:
# len nos permite obtener la longitud de una lista.

len(listado_numeros)

5

- Suma de listas

In [11]:
lista_combiana = listado_numeros + lista_elementos
lista_combiana

[1, 2, 3, 4, 5, 10, 'dos', 3.0, True]

### Operaciones Básicas sobre Listas

- append(): Agrega un elemento al final de la lista

In [12]:
lista_elementos.append(6)

lista_elementos

[10, 'dos', 3.0, True, 6]

In [13]:
# podemos agregar multiples veces el mismo elemento. Lo unico que cambiará será la opción del indice
lista_elementos.append(6)

lista_elementos

[10, 'dos', 3.0, True, 6, 6]

- Count() : Contabiliza cuantos elementos de cierto tipo existen en la lista

In [14]:
# Contar cuantas veces se repite un elemento en la lista 
lista_elementos.count(6)

2

- remove(): Elimina la primera aparición de un elemento.

In [15]:
# Remove, unicamente eliminará el primer elemento que encuentre con el valor que le pasemos
lista_elementos.remove(6)

lista_elementos

[10, 'dos', 3.0, True, 6]

- reverse(): Invierte el orden de la lista.

In [16]:
lista_elementos.reverse()
lista_elementos

[6, True, 3.0, 'dos', 10]

numeros.index('8')

- index(): nos permite obtener el índice de un elemento en la lista.

In [17]:
# index nos permite obtener el índice de un elemento en la lista.
lista_elementos.index(True)

# De existir dos elementos iguales, nos devolverá el índice del primero que encuentre.

1

In [18]:
lista_elementos

[6, True, 3.0, 'dos', 10]

In [19]:
listado_numeros = [20,5,8,45,1]

sorted(listado_numeros)

[1, 5, 8, 20, 45]

### Operaciones Avanzadas

- Slicing en listas: Nos permite obtener una sub lista a partir de una posición de inicio y fin

In [20]:
lista_elementos

[6, True, 3.0, 'dos', 10]

In [25]:
# Slice sobre listas
# lista[inicio:fin]

lista_elementos[1:3]

[True, 3.0]

In [26]:
# la posición de inicio es inclusiva y la posición de fin es exclusiva.
lista_elementos[:2]

[6, True]

In [27]:
# podemos avanzar de n en n dentro de la lista

lista_elementos[::2]

[6, 3.0, 10]

- Pruebas de Pertenencia en listas

In [28]:
listado_numeros

[20, 5, 8, 45, 1]

In [30]:
# Pruebas de pertenencia sobre listas

4 in listado_numeros # False

False

In [31]:
# Valido si elementos se encuentra en lista
if 4 in listado_numeros:
    print('el 4 se encuentra contenido en la lista')
else:
    print('Elemento no encontrado en lista')

Elemento no encontrado en lista

In [ ]:
# también podemos utilizar not in para saber si un elemento no se encuentra en la lista.

4 not in listado_numeros # True

True

In [33]:
# funciona tambien para strings
'b' in 'aeiou'

False

- Listas de Listas

In [34]:
# Listas anidadas
a = ['abc','dfe',False]
b = [1,2,3]
c = ['dasd','hola','mundo']

d = [a,b,c]
d

[['abc', 'dfe', False], [1, 2, 3], ['dasd', 'hola', 'mundo']]

In [37]:
d[1][1]

2

In [38]:
print(d[1])

[1, 2, 3]

- Navegacion por elementos de lista

In [39]:
for elemento in lista_elementos:
    print(elemento)

6
True
3.0
dos
10

### Ejercicios de Listas
-------------------------------------

1. Crear una lista de nombres y agregar un nuevo nombre al final.

In [ ]:
listado_nombres = ["Marco", "Gonzalo", "Adrian", "Boris"]

nombre = input("Nombre de la persona a agregar: ")

listado_nombres.append(nombre)

In [42]:
listado_nombres

['Marco', 'Gonzalo', 'Adrian', 'Boris', 'Javier']

2. Acceder al tercer elemento y modificarlo.

In [43]:
listado_nombres[3] = "Renato"

listado_nombres

['Marco', 'Gonzalo', 'Adrian', 'Renato', 'Javier']

3. Eliminar el primer elemento y ordenar la lista.

In [ ]:
# Yo se que marco es el primer elemento de mi lista
listado_nombres.remove("Marco")

In [45]:
listado_nombres

['Gonzalo', 'Adrian', 'Renato', 'Javier']

In [ ]:
# Si no conozco quien es el primer elemento de mi lista
del listado_nombres[0]

In [48]:
listado_nombres

['Adrian', 'Renato', 'Javier']

In [51]:
sorted(listado_nombres) # reverse=True para ordenar de forma descentente

['Adrian', 'Javier', 'Renato']

4. Iterar sobre la lista e imprimir los nombres en mayúsculas.

In [53]:
# nombre es una variable que genere
for nombre in listado_nombres:
    print(nombre.lower())

adrian
renato
javier

In [ ]:
# enumerate - retorna posicion y valor del listado  Ejemplo: (1, renato)
for indice, nombre in enumerate(listado_nombres):
    listado_nombres[indice]=nombre.upper()
listado_nombres

['ADRIAN', 'RENATO', 'JAVIER']

## 2. Tuplas

Son unas colecciones muy parecidas a las listas con la peculiaridad de que son <b>inmutables</b>:

In [56]:
# Tuplas en Python
tupla = (100,"Hola",[1,2,3],-50,('mundo',20))
tupla

(100, 'Hola', [1, 2, 3], -50, ('mundo', 20))

In [57]:
type(tupla)

tuple

In [58]:
# Obteniendo valores de una tupla
print(tupla)
print(tupla[0])
print(tupla[-1])
print(tupla[2:])
print(tupla[2][-1])
print(tupla[4][-1])

(100, 'Hola', [1, 2, 3], -50, ('mundo', 20))
100
('mundo', 20)
([1, 2, 3], -50, ('mundo', 20))
3
20

In [59]:
# Al ser inmutables, no podemos modificar los elementos de una tupla.
tupla[1]=20

TypeError: 'tuple' object does not support item assignment

In [60]:
tupla[2]

[1, 2, 3]

In [61]:
# 

tupla[2][1] = 8

In [62]:
tupla[2]

[1, 8, 3]

In [63]:
tupla[2] = 'x'

TypeError: 'tuple' object does not support item assignment

### METODOS DE TUPLAS

In [9]:
tupla.count(100) # cuantas veces aparece el numero 100 en la tupla

1

In [10]:
tupla.index(-50) # posicion de elemento en tupla

3

In [11]:
tupla[2] # tupla[n] -> n indica el indice o posicion del elemento

[1, 8, 3]

In [12]:
# no podemos modificar los elementos de una tupla
tupla[0]=5

TypeError: 'tuple' object does not support item assignment

## 3. Diccionarios

Los diccionarios son colecciones desordenadas de elementos, donde cada elemento es un par clave-valor. Las claves deben ser únicas e inmutables.

<img src='https://bioinf.comav.upv.es/courses/linux/_images/python_dict.png'>

In [64]:
# Diccionario vacio
diccionario_vacio = {} # dict()
datos_persona = {
    "nombre": "Luis", 
    "edad": 30,
    "ciudad": "Barcelona"
}

In [65]:
# Tipo de dato de diccionario
type(diccionario_vacio)

dict

In [66]:
# Accediendo a los elementos de un diccionario, esto se hace a través de las claves.
print(datos_persona["nombre"])  # Luis
print(datos_persona.get("edad"))  # 30

Luis
30

In [67]:
# Modificando valores de un diccionario
datos_persona["edad"] = 31
print(datos_persona)  # {"nombre": "Luis", "edad": 31, "ciudad": "Barcelona"}

{'nombre': 'Luis', 'edad': 31, 'ciudad': 'Barcelona'}

### Métodos Sobre Diccionarios

- keys(): Devuelve una vista de las claves.

In [68]:
claves = datos_persona.keys()
claves

dict_keys(['nombre', 'edad', 'ciudad'])

- values(): Devuelve una vista de los valores.

In [69]:
valores = datos_persona.values()

valores

dict_values(['Luis', 31, 'Barcelona'])

- items(): Devuelve una vista de los pares clave-valor.

In [70]:
items = datos_persona.items()
items

dict_items([('nombre', 'Luis'), ('edad', 31), ('ciudad', 'Barcelona')])

- update(): Actualiza el diccionario con pares clave-valor de otro diccionario o iterable.

In [71]:
datos_persona.update({"edad": 32, "pais": "España"})
datos_persona

{'nombre': 'Luis', 'edad': 32, 'ciudad': 'Barcelona', 'pais': 'España'}

- pop(): Elimina y devuelve el valor de la clave especificada.

In [72]:
edad = datos_persona.pop("edad")
edad

32

In [73]:
datos_persona

{'nombre': 'Luis', 'ciudad': 'Barcelona', 'pais': 'España'}

In [23]:
datos_persona['edad'] = 34

In [74]:
datos_persona['fecha_nacimiento'] = '2000-11-11'

datos_persona

{'nombre': 'Luis',
 'ciudad': 'Barcelona',
 'pais': 'España',
 'fecha_nacimiento': '2000-11-11'}

### Iterar sobre diccionarios

In [75]:
for clave in datos_persona:
    print(clave, datos_persona[clave])

nombre Luis
ciudad Barcelona
pais España
fecha_nacimiento 2000-11-11

In [76]:
for clave, valor in datos_persona.items():
    print(clave, valor)

nombre Luis
ciudad Barcelona
pais España
fecha_nacimiento 2000-11-11

### Construcciones Sobre Diccionarios

In [77]:
# los diccionarios pueden contener listas, tuplas, diccionarios
colegio = {
    'materias':['Matemáticas', 'Física', 'Química', 'Historia','Lengua'],
    'profesores':['Gonzalo','Juan','Pedro','Maria','Ana']
}

In [ ]:
colegio['profesores'][2]

Las listas pueden contener diccionarios

In [78]:
lista = list() # []
lista

[]

In [79]:
curso = {
    'profesor':'Gonzalo',
    'materia':'Python',
    'Cantidad_alumnos': 25
}

In [80]:
curso2 = {
    'profesor':'David',
    'materia':'VBA',
    'Cantidad_alumnos': 10
}

In [81]:
lista.append(curso)
lista.append(curso2)

print(lista)

[{'profesor': 'Gonzalo', 'materia': 'Python', 'Cantidad_alumnos': 25}, {'profesor': 'David', 'materia': 'VBA', 'Cantidad_alumnos': 10}]

In [82]:
lista[0]['profesor']

'Gonzalo'

### EJERCICIOS DE DICCIONARIOS
--------------------------

1. Crear un diccionario de información de un libro y agregar un nuevo campo.

In [89]:
libro = {
    'titulo': 'Calculo ',
    'autor': 'serway',
    'genero': ['fisica', 'matematicas'],
    #'lectores': ['Adrián', 'Daniel', 'Jorge']
}

libro['año_publicacion'] = 1997
print(libro)

{'titulo': 'Calculo ', 'autor': 'serway', 'genero': ['fisica', 'matematicas'], 'año_publicacion': 1997}

2. Acceder al autor y modificar el año de publicación.

In [90]:
libro['autor']

libro['año_publicacion'] = 2000
libro

{'titulo': 'Calculo ',
 'autor': 'serway',
 'genero': ['fisica', 'matematicas'],
 'año_publicacion': 2000}

3. Eliminar el campo género y mostrar todas las claves.

In [91]:
del libro['genero']

libro.keys()

dict_keys(['titulo', 'autor', 'año_publicacion'])

4. Iterar sobre el diccionario e imprimir los valores en mayúsculas.

In [94]:
for k, v in libro.items():
    print(k, str(v).upper())

titulo CALCULO
autor SERWAY
año_publicacion 2000

5.
Durante el desarrollo de un pequeño videojuego se te encarga configurar y balancear cada clase de personaje jugable. Partiendo que la estadística base es 2, debes cumplir las siguientes condiciones:

- El caballero tiene el doble de vida y defensa que un guerrero.
- El guerrero tiene el doble de ataque y alcance que un caballero.
- El arquero tiene la misma vida y ataque que un guerrero, pero la mitad de su defensa y el doble de su alcance.

Muestra como quedan las propiedades de los tres personajes.

In [97]:
caballero = {'vida': 2 , 
             'ataque': 2,   
             'defensa':2, 
             'alcance': 2
            }

In [98]:
guerrero = {
    'vida': 2 ,
    'ataque': 2,
    'defensa':2,
    'alcance': 2
}

In [99]:
arquero = {
    'vida': 2 ,
    'ataque': 2,
    'defensa':2,
    'alcance': 2
}

#### añadiendo lógica

- El caballero tiene el doble de vida y defensa que un guerrero.
- El guerrero tiene el doble de ataque y alcance que un caballero.
- El arquero tiene la misma vida y ataque que un guerrero, pero la mitad de su defensa y el doble de su alcance.

In [100]:
caballero['vida'] = guerrero['vida'] * 2
caballero['defensa'] = guerrero['defensa'] * 2

In [101]:
guerrero['ataque'] = caballero['ataque'] * 2
guerrero['alcance'] = caballero['alcance'] *2

In [102]:
arquero['vida'] = guerrero['vida']

arquero['ataque'] = guerrero['ataque']
arquero['defensa'] = guerrero['defensa']/2
arquero['alcance'] = guerrero['alcance']

In [103]:
caballero

{'vida': 4, 'ataque': 2, 'defensa': 4, 'alcance': 2}

In [104]:
guerrero

{'vida': 2, 'ataque': 4, 'defensa': 2, 'alcance': 4}

In [105]:
arquero

{'vida': 2, 'ataque': 4, 'defensa': 1.0, 'alcance': 4}

## 4. Conjuntos

<b>Son colecciones desordenadas de elementos únicos </b>utilizados para hacer pruebas de pertenencia a grupos y eliminación de elementos duplicados.

Para definir un conjunto vacío hay que llamar a su clase set (conjunto en inglés):

In [106]:
# Definir un conjunto vacío
conjunto = set()
conjunto

set()

Sin embargo si lo creamos con algunos datos se definen entre llaves:

In [107]:
# Los conjuntos eliminan los elementos duplicados
conjunto_numeros = {1,2,3,3,3,4,5}
conjunto_numeros

{1, 2, 3, 4, 5}

### METODOS DE CONJUNTOS

<img src='https://miro.medium.com/max/2218/1*sxE38q1ttzeRg1QvC28a6g.png' width="400" height="300" >

In [108]:
con1 = {1,2,3}
con2 = {1,2,3}
con3 = {3,4,5}

In [109]:
con1.intersection(con3)

{3}

In [111]:
con3.difference(con2)

{4, 5}

In [112]:
# conviritendo lista a conjunto
lista = [1,2,3,3,3,5,6,7]
conjunto = set(lista)
conjunto

{1, 2, 3, 5, 6, 7}

In [113]:
# convirtiendo conjunto a lista
lista2 = list(conjunto)
lista2

[1, 2, 3, 5, 6, 7]

### Ejercicio

Dadas dos listas, debes generar una tercera con todos los elementos que se repitan en ellas, pero no debe repetirse ningún elemento en la nueva lista:

<code>

lista_1 = ["h",'o','l','a',' ', 'm','u','n','d','o']

lista_2 = ["h",'o','l','a',' ', 'l','u','n','a']

</code>

In [114]:
# 1. genero las listas
lista_1 = ["h",'o','l','a',' ', 'm','u','n','d','o']

lista_2 = ["h",'o','l','a',' ', 'l','u','n','a']


# 2. convierto las listas a conjuntos
conjunto_1 = set(lista_1)
conjunto_2 = set(lista_2)

# 3. realizo la intersección de los conjuntos
conjunto_3 =  conjunto_1.intersection(conjunto_2)
conjunto_3

{' ', 'a', 'h', 'l', 'n', 'o', 'u'}

In [115]:
# 4. convierto el conjunto a lista
lista_final = list(conjunto_3)
lista_final

['u', ' ', 'a', 'l', 'n', 'h', 'o']

In [116]:
# 5. ordenar la lista, esto no lo pide el problema
lista_final.sort()
lista_final

[' ', 'a', 'h', 'l', 'n', 'o', 'u']